$font-family: Open Sans;

.Backstage {
    .IncidentProfileButton {
        font-weight: 600;
        height: 40px;
        padding: 0 4px 0 12px;
        border-radius: 4px;
    }

    .IncidentList {
        font-family: $font-family;
        color: var(--center-channel-color-90);

        .list {
            padding: 2rem 6rem;

            .incident-item {
                display: flex;
                padding-top: 15px;
                padding-bottom: 15px;
                align-items: center;
                margin: 0;
                border-bottom: 1px solid var(--center-channel-color-16);
                cursor: pointer;

                &:hover {
                    background: var(--center-channel-color-04);
                }

                .badge {
                    display: inline-flex;
                    border-radius: 4px;
                    padding: 12px 8px 12px 8px;
                    color: var(--sidebar-text);
                    background: var(--center-channel-color-56);

                    &.ongoing {
                        background-color: var(--button-bg);
                    }
                }
            }

            .incident-item__title {
                font-weight: 600;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }

    .IncidentList__filters {
        display: flex;
        align-items: center;
        margin: 0 -4px 20px;

        >div {
            padding: 0 4px;
        }
    }
}

.Backstage__header {
    display: flex;
    font-size: 2.8rem;
    line-height: 3.6rem;
    padding: 4rem 6rem 3.2rem;
    flex-direction: row;
    width: 100%;

    .btn {
        display: inline-flex;
        align-items: center;

        .icon {
            width: 1.6rem;
            height: 1.6rem;
            font-size: 1.8rem;
        }
    }

    .title {
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        height: 4rem;

        .light {
            padding-left: 1rem;
        }
    }
}
