.DS_Store

.vscode
.idea/

bin
dist
tests-e2e/node_modules
tests-e2e/cypress/screenshots
tests-e2e/cypress/videos
tests-e2e/cypress/results
.eslintcache
report.xml

server/data/
server/e2etest.config.json
