.eslintcache
report.xml
bin/
dist/
webapp/src/manifest.ts
server/manifest.go
server/data/
server/e2etest.config.json

# Mac
.DS_Store

# Jetbrains
.idea/

# VS Code
.vscode

# Notice
.notice-work
.aider*
.env

Claude.md

MM-59287
MM-61195
MM-62691
PlayBookMobileProposal.txt
cypress/
