$font-family: Open Sans;

.BackstageIncidentDetails {
    padding-top: 2rem;
    font-family: $font-family;
    color: var(--center-channel-color-90);
    padding: 4rem 0 3.2rem;

    .details-header {
        display: flex;
        font-size: 2.8rem;
        line-height: 32px;
        font-style: normal;
        font-weight: normal;
        bottom: 0;
        left: 0;
        height: auto;
        margin: 0 6rem;

        .link-icon {
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--center-channel-color-56);
            font-size: 20px;
            width: 4rem;
            height: 4rem;

            &:hover {
                background: var(--center-channel-color-08);
                color: var(--center-channel-color-72);
            }

            &:active {
                background: var(--button-bg-08);
                color: var(--button-bg);
            }
        }

        .title {
            display: flex;
            align-items: center;
            flex: 1 1 auto;

            .light {
                padding-left: 1rem;
            }
        }

        .commander-div {
            display: flex;
            align-items: center;
            widows: 100%;

            .label {
                margin-top: 1px;
                font-size: 12px;
                color: var(--center-channel-color-56);
            }

            .profile {
                font-size: 14px;
            }
        }

        .badge {
            display: inline-flex;
            border-radius: 4px;
            padding: 12px 8px 12px 8px;
            color: var(--sidebar-text);
            background: var(--center-channel-color-56);

            &.ongoing {
                background-color: var(--button-bg);
            }
        }
    }

    .subheader {
        padding: 1.2rem 0px 2.4rem;
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        margin: 0 6rem;

        .summary-tab {
            color: var(--button-bg);
            width: 98px;
            text-align: center;
            padding: 8px;
            box-shadow: inset 0px -2px 0px var(--button-bg);
        }

        .disabled {
            color: var(--center-channel-color-56);
        }

        .export-link {
            display: flex;
            align-items: center;
            color: var(--button-bg);
        }

        .export-icon {
            font-size: 16px;
            padding-right: 8px;
        }
    }

    .statistics-row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 44px;
    }  
    
    .chart-block {
        padding: 2rem;
        border: 1px solid var(--center-channel-color-08);
        background: var(--center-channel-bg);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        margin: 16px 60px;
        height: 1%;
        overflow: hidden;
        flex: 0 0 26rem;

        .chart-title {
            color: var(--center-channel-color-56);
            font-size: 14px;
            font-weight: 600;
            padding: 0 0 16px;
        }
        .content {
            text-align: center;
            font-size: 14px;
            color: var(--center-channel-text-72);
            margin:60px;
        }
        .chart-label{
            padding: 20px;
        }
    }

    .statistics-row__block {
        padding: 2rem;
        border: 1px solid var(--center-channel-color-08);
        background: var(--center-channel-bg);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        margin: 1.6rem;
        height: 168px;
        flex: 0 0 26rem;

        .title {
            color: var(--center-channel-color-56);
            font-size: 14px;
            font-weight: 600;
            padding: 0 0 16px;
        }

        .content {
            font-size: 24px;
            padding-top: 17px;
            padding-bottom: 22px;
            text-align: center;
        }

        .block-footer {
            color: var(--center-channel-color-56);
            font-size: 12px;
            padding-bottom: 20px;

            .icon {
                width: 1.2rem;
                height: 1.2rem;
                margin-left: .8rem;
                font-size: 14px;
            }
        }

        .box-icon {
            padding-right: 19px;
        }
    }

    .no-permission-div {
        padding: 15px;
        margin: 45px;
        border: 1px solid var(--center-channel-color-16);
        text-align: center;
        width: 100%;
    }

    .banner {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        position: fixed;
        top: 0;
        width: calc(100% - 32rem);
        z-index: 8;
        overflow: hidden;
        padding: 0.5rem 2.4rem;
        text-align: center;
    }
}
