$font-family: Open Sans;

.PlaybookRunDetails {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 12rem;

  .side-by-side {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .first-container {
    width: 70%;
  }

  .first-title {
    color: var(--center-channel-color);
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;

    .time {
      font-weight: normal;
      padding: 2px 0;
    }
  }

  .second-line {
    padding: 4px 0;
  }

  &__add-item {
    align-items: center;
    display: flex;
    height: 3.2rem;
  }

  // Link component
  .link {
    cursor: pointer;
    opacity: unset;

    &:hover {
      text-decoration: underline;
    }
  }

  .playbook-run-stage-select {
    background-color: var(--center-channel-bg);
    color: var(--center-channel-color);

    &__option--is-selected {
      background-color: var(--center-channel-color-08);
      color: inherit;
    }
    &__option--is-focused {
      background-color: var(--center-channel-color-16);
      color: inherit;
    }

    &__control {
      margin-left: 0;
      border: none;
      background: transparent;
      box-shadow: inset 0 0 0 1px var(--center-channel-color-20);

      &:hover {
        box-shadow: inset 0 0 0 1px var(--center-channel-color-40);
      }

      &--is-focused,
      &--is-focused:hover {
        box-shadow: inset 0 0 0 2px var(--button-bg);
      }
    }

    &__option {
      &:active {
        background-color: var(--center-channel-color-08);
      }
    }

    &__menu {
      background: var(--center-channel-bg);
      color: inherit;
    }

    &__input,
    &__single-value {
      color: inherit;
    }

    &__placeholder {
      color: var(--center-channel-color-20);
    }

    .badge {
      display: inline-flex;
      border-radius: 4px;
      margin-left: 8px;
      color: var(--button-color);
      background: var(--center-channel-color-56);
      font-size: 10px;
      font-weight: 600;
      line-height: 16px;
    }
  }

  .title {
    display: flex;
    align-items: center;
    font-weight: 600;
    padding: 0 0 8px;
    font-size: 14px;

    .stage-title__set-active {
      padding: 0 5px;
      font-weight: 600;
      font-size: 12px;
    }

    .checkbox-title__edit {
      width: 70px;
      padding: 0 5px 0 5px;
    }
  }
}
