$font-family: Open Sans;

.incident-rhs {
    font-family: $font-family;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__content {
        flex: 1 1 auto;
    }

    .section-header {
        padding: 15px;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: var(--button-bg-10);
        }

        i {
            color: var(--center-channel-color-90);
        }
    }

    .no-incidents {
        font-size: 14px;
        text-align: center;
        color: var(--center-channel-color);
        margin: 25px;

        .inner-text {
            padding: 8px 0px;
        }

        .link {
            font-weight: 600;
        }
    }

    .active-list {
        padding: 15px;
        border-top: 1px solid var(--center-channel-color-20);
    }

    .loading-container {
        text-align: center;
        padding: 20px;
    }

    .navigation-bar {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0.8rem 1.6rem 0.8rem 2rem;
        background: var(--center-channel-color-04);
        border-bottom: 1px solid var(--center-channel-color-16);

        .fa {
            cursor: pointer;
            color: var(--center-channel-color-60);
            font-size: 2rem;
            padding-right: 1.2rem;
        }

        .header-buttons {
            font-size: 16px;
            border: 0;
            background: transparent;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__button {
            display: flex;
            font-size: 16px;
            border: 0;
            background: transparent;
            width: 3.2rem;
            height: 3.2rem;
            padding: 0;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            fill: var(--center-channel-color-56);
            color: var(--center-channel-color-56);

            &:hover {
                background: var(--center-channel-color-08);
                color: var(--center-channel-color-72);
                fill: var(--center-channel-color-72);
            }

            &:active  {
                background: var(--button-bg-08);
                color: var(--button-bg);
                fill: var(--button-bg);
            }
        }

        .title {
            font-size: 16px;
            line-height: 34px;
        }

        .incident-details {
            display: flex;
            align-items: baseline;
        }
    }
}
