$font-family: Open Sans;

.incident-rhs {
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;

    &__content {
        flex: 1 1 auto;
        position: relative;
    }

    .spinner-container {
        text-align: center;
        padding: 20px;

        span {
            font-family: $font-family;
        }
    }

    .section-header {
        padding: 15px;
        text-align: center;
        cursor: pointer;

        &:hover {
            background-color: var(--button-bg-10);
        }

        i {
            color: var(--center-channel-color-90);
        }
    }

    .no-incidents {
        font-size: 14px;
        text-align: center;
        color: var(--center-channel-color);
        margin: 25px;

        .inner-text {
            padding: 8px 0px;
        }

        .link {
            font-weight: 600;
        }
    }

    .active-list {
        padding: 15px;
        border-top: 1px solid var(--center-channel-color-20);
    }
}
