.rhs-header-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1.6rem 0.8rem 2rem;
    border-bottom: 1px solid var(--center-channel-color-16);

    .header-buttons {
        font-size: 16px;
        border: 0;
        background: transparent;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__button {
        display: flex;
        font-size: 16px;
        border: 0;
        background: transparent;
        width: 3.2rem;
        height: 3.2rem;
        padding: 0;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        fill: var(--center-channel-color-56);
        color: var(--center-channel-color-56);

        &:hover {
            background: var(--center-channel-color-08);
            color: var(--center-channel-color-72);
            fill: var(--center-channel-color-72);
        }

        &:active  {
            background: var(--button-bg-08);
            color: var(--button-bg);
            fill: var(--button-bg);
        }

        svg {
            fill: inherit;
        }
    }
}
