$font-family: Open Sans;

.IncidentDetails {
    display: flex;
    flex-direction: column;
    padding: 20px;

    > div {
        padding: 0 0 24px 0;
    }

    .inner-container {
        display: flex;
        flex-direction: column;

        > div {
            padding: 0 0 8px 0;
        }

        > div:last-child {
            padding: 0px;
        }

        .title {
            font-family: $font-family;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            color: #4f4f4f;
        }
    }

    // Link component
    .link {
        font-family: $font-family;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #2f80ed;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    // Checkbox component
    .checkbox-container {
        display: flex;
        align-items: center;

        // Checkbox
        input[type="checkbox"] {
            position: absolute;
            opacity: 0;
            display: hidden;
        }

        > span {
            padding: 0px 0px 0px 8px;
            font-family: $font-family;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #3d3c40;
        }

        input[type="checkbox"] + label {
            position: relative;
            cursor: pointer;
        }

        input[type="checkbox"] + label:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;

            background: #ffffff;
            border: 1px solid #dddddd;
            box-sizing: border-box;
            border-radius: 4px;
        }

        input[type="checkbox"]:checked + label:before {
            background: #2f80ed;
            border: 1px solid #2f80ed;
            box-sizing: border-box;
        }

        input[type="checkbox"] + label:after {
            /* Font Awesome */
            font-family: FontAwesome;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\f00c"; /* fa-check */

            font-size: 14px;
            position: absolute;
            top: 0px;
            left: 3px;
            color: #ffffff;

            transition: transform 0.15s;
            transform: scale(0) rotate(90deg);
        }

        input[type="checkbox"]:checked + label:after {
            transform: scale(1) rotate(0deg);
        }

        label {
            height: 20px;
            padding: 0px 20 + 8px;

            font-family: $font-family;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #3d3c40;
        }
    }
}
