.Backstage {
    &__sidebar {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;
        width: 32rem;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        background: var(--sidebar-bg);
        color: var(--sidebar-text);

        &__header {
            padding: 32px 0px 0px 32px;
        }

        .menu {
            padding-top: 48px;
            width: 100%;
            font-weight: 600;

            .menu-title {
                height: 48px;
                padding-left: 32px;
                line-height: 48px;
                opacity: 0.56;

                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }
            }

            .active {
                background: var(--center-channel-bg);
                color: var(--center-channel-color);
                opacity: 1;

                &:hover {
                    cursor: default;
                }
            }
        }

        .back-icon {
            background-color: transparent;
            border-width: 0px;
        }
    }

    .content-container {
        position: absolute;
        left: 32rem;
        width: calc(100% - 32rem);
    }
}
