.Backstage {
    overflow: hidden;

    &__sidebar {
        position: absolute;
        height: 100vh;
        width: 32rem;
        font-size: 16px;
        line-height: 24px;
        background: var(--sidebar-bg);
        color: var(--sidebar-text);

        &__header {
            padding: 32px 0px 0px 32px;
        }

        .menu {
            padding: 4rem 0 0 2.4rem;
            width: 100%;
            font-weight: 600;

            .menu-title {
                border-radius: 4px 0 0 4px;
                height: 48px;
                padding-left: 1.6rem;
                line-height: 48px;
                opacity: 0.56;

                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }
            }

            .active {
                background: var(--center-channel-bg);
                color: var(--center-channel-color);
                opacity: 1;

                &:hover {
                    cursor: default;
                }
            }
        }
    }

    .content-container {
        position: relative;
        z-index: 1;
        margin-left: 32rem;
        width: calc(100% - 32rem);
        overflow: auto;
        height: 100vh;
    }
}

.Backstage__header__back {
    margin-right: 8px;
    background-color: transparent;
    border: none;
    color: var(--center-channel-color);
    fill:  var(--center-channel-color);
}


.Backstage__waves {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 70%;
    height: auto;
    opacity: 0.03;
    pointer-events: none;

    stop {
        stop-color: var(--button-bg);
    }
}

.Backstage-list-header {
    font-weight: 600;
    padding: 0 1.6rem;
    font-size: 14px;
    line-height: 4rem;
    color: var(--center-channel-color);
    border: 1px solid var(--center-channel-color-08);
    background-color: var(--center-channel-color-04);
    border-radius: 4px;
}
