$font-family: Open Sans;
// Matching webapp variable for bar
$announcement-bar-height: 32px;

.container-medium {
    margin: 0 auto;
    max-width: 1160px;
    padding: 0 20px;
}

.Playbook {
    font-family: $font-family;
    color: var(--center-channel-color-90);

    .input-name {
        width: 400px;
    }

    .multi-checklist-editor-container {
        padding-top: 22px;
        padding-bottom: 50px;
        font-size: 14px;
        width: 400px;
    }

    .inner-container {
        display: flex;
        flex-direction: column;
        margin: 10px;
        width: 400px;

        .title {
            font-weight: 600;
            padding: 0 0 8px;
        }
    }

    .public-item {
        display: flex;
        margin: 10px;
        margin-top: 15px;
        padding-top: 22px;
        padding: 0.6rem 0;
        font-size: 14px;
        width: 400px;

        button {
            margin-right: 13px;
        }

        label {
            font-weight: normal;
        }
    }

    .playbook-list {
        .playbook-item {
            cursor: pointer;
            display: flex;
            padding-top: 15px;
            padding-bottom: 15px;
            align-items: center;
            margin: 0;
            border-bottom: 1px solid var(--center-channel-color-16);

            &:hover {
                background: var(--center-channel-color-04);
            }

            .title {
                display: flex;

                > span {
                    font-weight: 600;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }

        .list-title {
            font-weight: 600;
            font-size: 16px;
        }

        .action-col {
            margin-left: -13px;
        }
    }
}
