$font-family: Open Sans;

.IncidentDashboard {
    padding-top: 2rem;
    font-family: $font-family;
    color: var(--center-channel-color-90);
    padding: 4rem 0 3.2rem;
    margin: 0 6rem;

    .dashboard-header {
        display: flex;
        font-size: 2.8rem;
        line-height: 32px;
        font-style: normal;
        font-weight: normal;
        bottom: 0;
        left: 0;
        height: auto;
        
        .back-icon {
            background-color: transparent;
            border-width: 0px;
        }

        .link-icon{
            color: var(--center-channel-color-56);
            font-size: 20px;
            padding:12px;   

            &:hover {
                background: var(--center-channel-color-08);
            }
        }

        .title {
            display: flex;
            align-items: center;
            width: 100%;

            .light {
                padding-left: 1rem;
            }
        }

        .commander-div {
            display: flex;
            align-items: center;
            widows: 100%;
                                
            .label {
                font-size: 12px;
                color: var(--center-channel-color-56);
            }

            .profile {
                font-size: 14px;
            }
        }

        .badge {
            display: inline-flex;
            border-radius: 4px;
            padding: 12px 8px 12px 8px;
            color: var(--sidebar-text);
            background: var(--center-channel-color-56);

            &.ongoing {
                background-color: var(--button-bg);
            }
        }
    }

    .subheader {
        padding: 32px 0px;
        display: flex;
        justify-content: space-between;
        font-weight: 600;

        .summary-tab{
            color: var(--button-bg);
            width: 98px; 
            text-align: center;
            padding: 8px;
            box-shadow: inset 0px -2px 0px var(--button-bg);
        }
        .export-link {
            display: flex;
            align-items: center;
            color:var(--button-bg);
        }
        .export-icon {
            font-size: 16px;
            padding-right:8px;
        }
    }

    .statistic-block{
        border: 1px solid rgba(0, 0, 0, 0.08);
        box-sizing: border-box;

        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
        border-radius: 8px;
        margin-right: 17px;
        margin-left: 15px;
        height: 168px;

        .title{
            color: var(--center-channel-color-56);
            font-size: 14px;
            font-weight: 600;
            padding: 20px 0px 16px 5px;
        }

        .content{
            font-size: 24px;
            padding-top:17px;
            padding-bottom:22px;
            text-align:center;
        }

        .block-footer{
            color: var(--center-channel-color-56);
            font-size: 12px;
            padding-bottom: 20px;
        }

        .center{
            text-align:center;
        }

        .right{
            text-align:right;
        }

        .box-icon{
            padding-right: 19px;
        }
    }
}
