.app__body {
    .incident-list-search-input {
        overflow: visible;
        width: 100%;
        color: var(--center-channel-color);
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid var(--center-channel-color-16);
        margin-bottom: 12px;
        padding: 2px 8px 2px 2.8rem;

        &:before {
            position: absolute;
            left: 0.8rem;
            color: var(--center-channel-color-56);
            content: '\f349';
            font-family: 'mattermosticons';
            font-style: normal;
            font-weight: normal;
            speak: none;
            display: inline-block;
            text-decoration: inherit;
            width: 1em;
            margin-right: .2em;
            text-align: center;
            /* opacity: .8; */
            font-variant: normal;
            text-transform: none;
            line-height: 1em;
            margin-left: .2em;
            /* font-size: 120%; */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .icon {
            position: absolute;
            left: -2.2rem;
            top: 3px;
        }
    }
}
