.app__body {
    .status-filter--active {
        .status-filter-button {
            background-color: var(--button-bg-08);
        }
    }

    .status-filter-dropdown {
        .status-filter-select__container {
            z-index: 2;
            position: absolute;
        }
    }

    .status-filter-select__menu-list {
        padding: 0 0 2px;
        border: none;
    }

    .status-filter-select__input {
        color: var(--center-channel-color);
    }

    .status-filter-select {
        border-radius: 4px;
        -webkit-overflow-scrolling: touch;
        background-color: var(--center-channel-bg);
        border: 1px solid var(--center-channel-color-16);
        max-height: 100%;
        overflow: hidden;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    }

    .status-filter-select__option--is-selected,
    .status-filter-select__option--is-focused {
        background-color: var(--center-channel-color-08);
        color: inherit;
    }

    .status-filter-select__control {
        visibility: hidden;
    }

    .status-filter-select__option {
        &:active {
            background-color: var(--center-channel-color-08);
        }
    }

    .status-filter-select__value-container {
        overflow: visible;
        padding-left: 2.8rem;

        &:before {
            position: absolute;
            left: 0.8rem;
            color: var(--center-channel-color-56);
            content: '\f349';
            font-family: "mattermosticons";
            font-style: normal;
            font-weight: normal;
            speak: none;
            display: inline-block;
            text-decoration: inherit;
            width: 1em;
            margin-right: .2em;
            text-align: center;
            /* opacity: .8; */
            font-variant: normal;
            text-transform: none;
            line-height: 1em;
            margin-left: .2em;
            /* font-size: 120%; */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .icon {
            position: absolute;
            left: -2.2rem;
            top: 3px;
        }
    }

    .status-filter-button, .profile-filter-button {
        border: none;
        padding: 8px;
        margin: 0 0 12px 0;
        border-radius: 100px;

        background-color: unset;
        color: var(--center-channel-color-56);

        cursor: pointer;

        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 12px;

        -webkit-transition: all 0.15s ease;
        -webkit-transition-delay: 0s;
        -moz-transition: all 0.15s ease;
        -o-transition: all 0.15s ease;
        transition: all 0.15s ease;

        &:hover {
            background: var(--center-channel-color-08);
            cursor: pointer;
        }

        &.active {
            cursor: pointer;
        }

        .icon-chevron-down {
            color: gray;
        }
    }
}
