$font-family: Open Sans;


// Checklist component
.checklist-inner-container {
    display: flex;
    flex-direction: column;

    .title {
        display: flex;
        align-items: center;
        font-weight: 600;
        padding: 0 0 8px;

        .checkbox-title__edit {
            width: 70px;
            padding: 0 5px 0 5px;
        }

        &:hover {
            .checkbox-container__close {
                opacity: 1;
            }
        }
    }
}

// Checkbox component
.checkbox-container {
    align-items: center;
    display: flex;
    padding: 0.6rem 0;

    live {
        height: 35px;
    }

    &:first-child {
        padding-top: 0.2rem;
    }

    button {
        width: 53px;
        height: 29px;
        border: 1px solid #166DE0;
        box-sizing: border-box;
        border-radius: 4px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;
        text-align: center;
        background: #ffffff;
        color: #166DE0;
        cursor: pointer;
        margin-right: 13px;
    }

    button:disabled {
        border: 1px solid rgba(61, 60, 64, 0.64);
        color: rgba(61, 60, 64, 0.64);
        background: rgba(61, 60, 64, 0.08);
        cursor: default;
    }

    &:hover {
        .checkbox-container__close {
            opacity: 1;
        }
    }

    .icon-bars {
        padding: 0 0.8rem 0 0;
    }

    .timestamp {
        color: var(--center-channel-color-56);
    }

    input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 20px;
        min-width: 20px;
        height: 20px;
        background: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 4px;
        margin: 0;
        cursor: pointer;
        margin-left: 18px;
        margin-right: 28px;
    }

    input[type="checkbox"]:checked {
        background: #2f80ed;
        border: 1px solid #2f80ed;
        box-sizing: border-box;
    }

    input[type="checkbox"]::before {
        font-family: mattermosticons;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f12c";

        font-size: 11px;
        position: absolute;
        left: -1.5rem;
        top: 0.3rem;
        font-weight: bold;
        color: #ffffff;
        margin-left: 18px;

        transition: transform 0.15s;
        transform: scale(0) rotate(90deg);
    }

    input[type="checkbox"]:checked::before {
        transform: scale(1) rotate(0deg);
    }

    label {
        font-weight: normal;
        word-break: break-word;
        display: inline;
        margin: 0;
        margin-right: 8px;
    }
}

// Used by ChecklistEditor and Checkbox components
.checkbox-container__close {
    cursor: pointer;
    opacity: 0;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--error-text);

    &:hover {
        opacity: 1;
    }
}

.checkbox-textboxes {
    .form-control {
        margin-top: 5px;
    }
}
