// MultiChecklistEditor
.multi-checklist-editor {
    .new-stage {
        padding-top: 10px;
    }

    // ChecklistEditor component
    .checklist-editor-inner-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;

        .title {
            display: flex;
            align-items: center;
            font-weight: 600;
            padding: 0 0 8px;

            .checkbox-title__edit {
                width: 70px;
                padding: 0 5px 0 5px;
            }

            &:hover {
                .checkbox-container__close {
                    opacity: 1;
                }
            }
        }

        .checklist-item-container {
            padding-left: 25px;
        }
        .checklist-new-item {
            padding-top: 8px;
        }
    }
}
