$font-family: Open Sans;


// Checklist component -- the rest of the relevant styles are in incident_details.scss
.checklist-inner-container {
    display: flex;
    flex-direction: column;
}

// Checkbox component
.checkbox-container {
    align-items: center;
    display: flex;
    padding: 2rem 0 0 0;

    live {
        height: 35px;
    }

    &:first-child {
        padding-top: 0.4rem;
    }

    button {
        width: 53px;
        height: 29px;
        border: 1px solid #166DE0;
        box-sizing: border-box;
        border-radius: 4px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 17px;
        text-align: center;
        background: #ffffff;
        color: #166DE0;
        cursor: pointer;
        margin-right: 13px;
    }

    button:disabled {
        border: 0px;
        color: var(--button-color);
        background: var(--center-channel-color-56);
        cursor: default;
    }

    &:hover {
        .checkbox-container__close {
            opacity: 1;
        }
    }

    .icon-bars {
        padding: 0 0.8rem 0 0;
    }

    .timestamp {
        color: var(--center-channel-color-56);
        flex-shrink: 0;
    }

    input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 20px;
        min-width: 20px;
        height: 20px;
        background: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 4px;
        margin: 0;
        cursor: pointer;
        margin-right: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input[type="checkbox"]:checked {
        background: #2f80ed;
        border: 1px solid #2f80ed;
        box-sizing: border-box;
    }

    input[type="checkbox"]::before {
        font-family: 'compass-icons', mattermosticons;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f12c";
        font-size: 12px;
        font-weight: bold;
        color: #ffffff;
        transition: transform 0.15s;
        transform: scale(0) rotate(90deg);
        position: relative;
    }

    input[type="checkbox"]:checked::before {
        transform: scale(1) rotate(0deg);
    }

    label {
        font-weight: normal;
        word-break: break-word;
        display: inline;
        margin: 0;
        margin-right: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex-grow: 1;
    }
}

// Used by ChecklistEditor and ChecklistItemDetailsEdit components
.checkbox-container__close {
    cursor: pointer;
    opacity: 0;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--error-text);

    &:hover {
        opacity: 1;
    }
}

.checkbox-textboxes {
    width: 100%;

    .form-control {
        margin-top: 5px;
        min-width: 320px;
    }

    .custom-textarea {
        border-radius: 2px;
        border: 1px solid var(--center-channel-color-16);
        min-height: unset;
        height: 34px;

        &:focus {
            border-radius: 2px;
            border: 1px solid var(--center-channel-color-40);
            padding: 6px 12px;
        }
    }
}

.checklist-command-container {
    display: flex;
    margin: 4px 0 0 32px;
    font-size: 12px;
    line-height: 16px;

    .command {
        word-break: break-word;
        display: inline;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .run {
        font-weight: bold;
        display: inline;
        color: var(--link-color);
        cursor: pointer;
        margin: 0 8px 0 0;

        &:hover {
            text-decoration: underline;
        }

        &.running {
            color: var(--center-channel-color-64);
            cursor: default;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

.assignee-container {
    margin-left: 28px;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    font-style: normal;
}
