$font-family: Open Sans;
// Matching webapp variable for bar
$announcement-bar-height: 32px;

.Playbook {
    font-family: $font-family;
    color: var(--center-channel-color-90);

    .playbook-fields {
        padding: 3.2rem 0px 0px 6rem;
    }

    .input-name {
        width: 400px;
    }

    .checklist-container {
        margin: 10px;
        padding-top: 22px;
        font-size: 14px;
        width: 400px;
    }

    .inner-container {
        display: flex;
        flex-direction: column;

        .title {
            font-weight: 600;
            padding: 0 0 8px;
        }
    }

    .playbook-list {
        padding: 2rem 6rem;

        .playbook-item {
            margin: 0;
            line-height: 4.8rem;
            border-bottom: 1px solid var(--center-channel-color-16);

            &:hover {
                background: var(--center-channel-color-04);
            }
        }
    }

    .banner {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        position: fixed;
        top: 0;
        width: calc(100% - 32rem);
        z-index: 8;
        overflow: hidden;
        padding: 1rem 2.4rem;
        text-align: center;
    }
}
