$font-family: Open Sans;
// Matching webapp variable for bar
$announcement-bar-height: 32px;

.Playbook {
    font-family: $font-family;
    color: var(--center-channel-color-90);

    .playbook-fields {
        padding: 3.2rem 0px 0px 6rem;
    }

    .input-name {
        width: 400px;
    }

    .multi-checklist-editor-container {
        padding-top: 22px;
        padding-bottom: 50px;
        font-size: 14px;
        width: 400px;
    }

    .inner-container {
        display: flex;
        flex-direction: column;

        .title {
            font-weight: 600;
            padding: 0 0 8px;
        }
    }

    .public-item {
        display: flex;
        margin: 10px;
        margin-top: 15px;
        padding-top: 22px;
        padding: 0.6rem 0;
        font-size: 14px;
        width: 400px;

        button {
            margin-right: 13px;
        }

        label {
            font-weight: normal;
        }
    }

    .playbook-list {
        padding: 2rem 6rem;

        .playbook-item {
            cursor: pointer;
            display: flex;
            padding-top: 15px;
            padding-bottom: 15px;
            align-items: center;
            margin: 0;
            border-bottom: 1px solid var(--center-channel-color-16);

            &:hover {
                background: var(--center-channel-color-04);
            }

            .title {
                display: flex;

                > span {
                    font-weight: 600;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
    }

    .banner {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        position: fixed;
        top: 0;
        width: calc(100% - 32rem);
        z-index: 8;
        overflow: hidden;
        padding: 1rem 2.4rem;
        text-align: center;
    }
}
