@import 'compass/utilities';
@import 'compass/css3';

.incident-rhs { 
    .legacy-rhs-header {
        // Mimic the original RHS header shape
        height: 44px;
        line-height: 44px;
        padding: 0 5px 0 0;

        // Move this bar on the top of the original RHS header, so both bars
        // integrate seemlessly
        margin-top: -44px;

        // Leave space for the buttons in the original RHS header: 
        // - Expand and close button, on the right side, which are 60 px wide.
        // - The back button, on the left side, which is 34.15px wide.
        //   - A left padding of 15px
        //   - A width of 7.15px
        //   - A right padding of 12px
        width: calc(100% - 60px - 34.15px);
        margin-left: 34.15px;

        &__header-buttons {
            display: flex;
            justify-content: flex-end;
        }

        &__button {
            font-size: 18px;
            border: none;
            background: none;
            opacity: 0.5;

            &:hover {
                opacity: 0.8;
            }

            svg {
                @include scale(1.1, 1.1);
                stroke: currentColor;
                fill: currentColor;
            }
        }
    }
}
