@import 'compass/utilities';
@import 'compass/css3';

.incident-rhs { 
    .legacy-rhs-header {
        overflow: hidden;

        // Move this bar on the top of the original RHS header, so both bars
        // integrate seemlessly
        margin-top: -44px;

        // Mimic the original RHS header shape
        height: 44px;
        line-height: 44px;
        padding: 0 5px 0 0;


        &__button {
            font-size: 18px;
            border: none;
            background: none;
            opacity: 0.5;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }

            svg {
                @include scale(1.1, 1.1);
                stroke: currentColor;
                fill: currentColor;
            }
        }

        .title {
            text-transform: uppercase;
        }
    }

    .legacy-rhs-header-desktop {
        // Leave space for the buttons in the original RHS header: 
        // - Expand and close buttons, on the right side, which are 60px wide.
        // - The back button, on the left side, which is 34.15px wide.
        //   - A left padding of 15px
        //   - A width of 7.15px
        //   - A right padding of 12px
        width: calc(100% - 60px - 34.15px);
        margin-left: 34.15px;

        &__header-buttons {
            display: flex;
            justify-content: flex-end;
        }
    }

    .legacy-rhs-header-mobile {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 5px;

        .title {
            padding-left: 10px;
        }

        .fa {
            font-size: 20px;
            margin-left: 5px;
        }

        .incident-details {
            display: flex;
            align-items: baseline;
        }
    }
}
