.IncidentProfile {
    display: flex;
    flex-direction: row;
    align-items: center;

    .image {
        margin: 0 8px 0 0;
        width: 32px;
        height: 32px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;

        .image-sm {
            width: 24px;
            height: 24px;
        }

        .Assigned-button & {
            margin: 0 4px 0 0;
            width: 20px;
            height: 20px;
        }
    }

    .name {
        padding: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .description {
            color: var(--center-channel-color-56);
            margin-left: 4px;
        }
    }
}
