.ProfileButton {
    border: none;
    background-color: unset;
    padding: unset;
    cursor: unset;

    .Profile {
        border-radius: 100px;

        &.active {
            cursor: pointer;

            &:hover {
                background: rgba(20, 93, 191, 0.08);
            }
        }

        .icon-chevron-down {
            color: gray;
        }
    }
}
