$font-family: Open Sans;

.PlaybookRunList {
    font-family: $font-family;
    color: var(--center-channel-color-90);

    .list {
        .playbook-run-item {
            display: flex;
            padding-top: 8px;
            padding-bottom: 8px;
            align-items: center;
            margin: 0;
            border-bottom: 1px solid var(--center-channel-color-16);
            cursor: pointer;

            &:hover {
                background: var(--center-channel-color-04);
            }

            &__title {
                display: flex;

                > span {
                    font-weight: 600;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
    }
}

.PlaybookRunList__filters {
    display: flex;
    align-items: center;
    margin: 0 -4px 20px;

    > div {
        padding: 0 4px;
    }
}

.Backstage__header {
    display: flex;
    align-items: center;
    padding: 4rem 0 3.2rem;
    flex-direction: row;
    width: 100%;

    .btn {
        display: inline-flex;
        align-items: center;

        .icon {
            width: 1.6rem;
            height: 1.6rem;
            font-size: 1.8rem;
        }
    }

    .title {
        display: flex;
        font-size: 2.8rem;
        line-height: 3.6rem;
        align-items: center;
        flex: 1 1 auto;
        height: 4rem;

        .light {
            padding-left: 1rem;
        }
    }
}
