.app__body {
    .status-filter-dropdown {
        .status-filter-select__container {
            z-index: 2;
            position: absolute;
        }
    }

    .status-filter-select__menu-list {
        padding: 0 0 2px;
        border: none;
    }

    .status-filter-select {
        border-radius: 4px;
        -webkit-overflow-scrolling: touch;
        background-color: var(--center-channel-bg);
        border: 1px solid var(--center-channel-color-16);
        max-height: 100%;
        overflow: hidden;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    }

    .status-filter-select__option--is-selected,
    .status-filter-select__option--is-focused {
        background-color: var(--center-channel-color-08);
        color: inherit;
    }

    .status-filter-select__control {
        visibility: hidden;
    }

    .status-filter-select__option {
        &:active {
            background-color: var(--center-channel-color-08);
        }
    }
}

.PlaybookRunFilter-button {
    background-color: transparent;
    border: none;
    padding: 8px;
    border-radius: 4px;
    color: var(--center-channel-color-56);
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    -webkit-transition: all 0.15s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
    padding: 0 16px;
    height: 4rem;

    &:hover {
        background: var(--center-channel-color-08);
        color: var(--center-channel-color-72);
    }

    &:active {
        background: var(--button-bg-08);
        color: var(--button-bg);
    }

    &.active {
        cursor: pointer;
    }

    .icon-chevron-down {
        &:before {
            margin: 0;
        }
    }
}

.PlaybookRunFilter--active {
    .PlaybookRunFilter-button {
        background: var(--button-bg-08);
        color: var(--button-bg);
    }
}

.PlaybookRunFilter-select {
    margin: 4px 0 0;
    min-width: 20rem;
}

.PlaybookRunFilter-reset {
    display: inline-block;
    margin: 0 0 8px 12px;
    font-weight: 600;
    font-size: 12px;
    position: relative;
    top: -4px;
}
