$font-family: Open Sans;

.PlaybookRunList {
    font-family: $font-family;
    color: var(--center-channel-color-90);

    .list {
        .playbook-run-item {
            display: flex;
            padding-top: 8px;
            padding-bottom: 8px;
            align-items: center;
            margin: 0;
            border-bottom: 1px solid var(--center-channel-color-16);
            cursor: pointer;

            &:hover {
                background: var(--center-channel-color-04);
            }

            &__title {
                display: flex;
                flex-direction: column;

                > span {
                    font-weight: 600;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
    }
}

.PlaybookRunList__filters {
    display: flex;
    align-items: center;
    margin: 0 -4px 20px;

    > div {
        padding: 0 4px;
    }
}

