$font-family: Open Sans;

.IncidentItem {
    .list {
        cursor: pointer;
        padding: 20px;
        border-bottom: 1px solid var(--center-channel-color-16);

        &:hover {
            background: var(--center-channel-color-04);
        }
    }
}
