$font-family: Open Sans;
// Matching webapp variable for bar
$announcement-bar-height: 32px;

.Playbook {
    padding-top: 2rem;

    font-family: $font-family;
    color: var(--center-channel-color-90);

    .header {
        display: flex;
        font-size: 2.8rem;
        line-height: 32px;
        font-style: normal;
        font-weight: normal;
        border-bottom: 1px solid var(--center-channel-color-16);
        bottom: 0;
        left: 0;
        height: auto;
        padding: 4rem 0 3.2rem;
        margin: 0 6rem;

        .title {
            display: flex;
            align-items: center;
            width: 100%;
        }
    }

    .header-button-div {
        left: 0;
        width: 100%;
        height: auto;
        text-align: right;
    }

    .playbook-fields {
        padding: 3.2rem 0px 0px 6rem;
    }

    .input-name {
        width: 400px;
    }

    .cheklist-container {
        margin: 10px;
        padding-top: 22px;
        font-size: 14px;
    }

    .inner-container {
        display: flex;
        flex-direction: column;

        .title {
            font-weight: 600;
            padding: 0 0 8px;
        }
    }

    // Checkbox component
    .checkbox-container {
        align-items: center;
        display: flex;
        padding: 0.6rem 0;

        &:first-child {
            padding-top: 0.2rem;
        }

        // Checkbox
        input[type="checkbox"] {
            position: absolute;
            opacity: 0;
            display: hidden;
        }

        &:hover {
            .checkbox-container__close {
                opacity: 1;
            }
        }

        .icon-bars {
            padding: 0 0.8rem 0 0;
        }

        .checkbox-container__close {
            cursor: pointer;
            opacity: 0;
            width: 3.2rem;
            height: 3.2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            color: var(--error-text);

            &:hover {
                opacity: 1;
            }
        }

        >span {
            padding: 0px 0px 0px 8px;
            font-family: $font-family;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #3d3c40;
        }

        input[type="checkbox"]+label {
            margin: 0;
            position: relative;
            cursor: pointer;
        }

        input[type="checkbox"]:disabled+label {
            cursor: default;
        }

        input[type="checkbox"]+label:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;

            background: #ffffff;
            border: 1px solid #dddddd;
            box-sizing: border-box;
            border-radius: 4px;
        }

        input[type="checkbox"]:checked+label:before {
            background: #2f80ed;
            border: 1px solid #2f80ed;
            box-sizing: border-box;
        }

        input[type="checkbox"]+label:after {
            /* Font Awesome */
            font-family: mattermosticons;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\f12c";
            /* icon-check */

            font-size: 11px;
            position: absolute;
            top: 3px;
            left: 4px;
            font-weight: bold;
            color: #ffffff;

            transition: transform 0.15s;
            transform: scale(0) rotate(90deg);
        }

        input[type="checkbox"]:checked+label:after {
            transform: scale(1) rotate(0deg);
        }

        label {
            padding: 0 0 0 32px;
            font-weight: normal;
        }
    }

    .playbook-list {
        padding: 2rem 6rem;

        .list-header {
            font-weight: 600;
            padding: 0 1.6rem;
            font-size: 14px;
            line-height: 4rem;
            color: var(--center-channel-color);
            border: 1px solid var(--center-channel-color-16);
            border-radius: 4px;

        }

        .playbook-item {
            margin: 0;
            line-height: 4.8rem;
            border-bottom: 1px solid var(--center-channel-color-16);

            &:hover {
                background: var(--center-channel-color-04);
            }
        }
    }

    .back-icon {
        background-color: transparent;
        border-width: 0px;
    }

    .banner {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
        position: fixed;
        top: 0;
        width: calc(100% - 32rem);
        z-index: 8;
        overflow: hidden;
        padding: 1rem 2.4rem;
        text-align: center;
    }
}
